body{
    background-image: url(../img/music_1.jpg);
}
.wrapper{
    display: flex;
    justify-content: center;
    padding: 30px;
    width: inherit;
}
.register {
    width: 40%;
}

label{
    color: white;
    padding: 5px;
}
.reg{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
    width: inherit;
    background-color: yellowgreen;
    margin-right: 50px;
    border-radius: 10px;
    border: 2px solid purple;
}

input{
    /* border-radius: 5px; */
    height: 20px;
    border: 1px solid white;
    height: 30px;
}
.register button{
    background-color:purple;
    color: yellowgreen;
    width: 60px;
    margin-top: 5px;
    border-radius: 5px;
    font-family: cursive;
    padding: 3px;
    cursor: pointer;
}
.register h1{
    color:purple;
}

.login {
    width: 40%;
}
.log_in{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
    width: inherit;
    height: inherit;
    background-color: yellowgreen;
    margin-right: 50px;
    border: 2px solid purple;
    border-radius: 10px;
}

.login h1{
    color: purple;
}
.login button{
    background-color: purple;
    color: yellowgreen;
    width: 60px;
    margin-top: 5px;
    border-radius: 5px;
    font-family: cursive;
    cursor: pointer;
    
}
p{
    color: white;
}
form{
    font-family: cursive;
}
label{
    color: purple;
}
input:focus{
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}

@media screen and (max-width: 800px) {
    .wrapper{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 10%;
    }
    .log_in {
        margin-top: 20px;
    }
    .login {
        width: 90%;
    }

    .register {
        width: 90%;
    }
    
}